#map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.leaflet-popup img {
  max-width: 200px;
}

.leaflet-popup {
  min-width: 250px;
}